*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.idea/encodings.xml
.idea/screenshot-notifier/gradlew
.idea/screenshot-notifier/gradle/wrapper/gradle-wrapper.properties
.idea/screenshot-notifier/gradle/wrapper/gradle-wrapper.jar
.idea/screenshot-notifier/build.gradle
.idea/screenshot-notifier/.idea/workspace.xml
.idea/screenshot-notifier/.idea/vcs.xml
.idea/screenshot-notifier/.idea/runConfigurations.xml
.idea/screenshot-notifier/.idea/modules.xml
.idea/screenshot-notifier/.idea/misc.xml
.idea/screenshot-notifier/.idea/gradle.xml
.idea/screenshot-notifier/.idea/encodings.xml
.idea/screenshot-notifier/.gitignore
.idea/runConfigurations.xml
.idea/misc.xml
.idea/gradle.xml
.idea/codeStyles/codeStyleConfig.xml
.idea/codeStyles/Project.xml
.idea/vcs.xml
.idea/screenshot-notifier/src/test/java/koderlabs/com/screenshotnotifier/ExampleUnitTest.java
.idea/screenshot-notifier/src/main/res/values/strings.xml
.idea/screenshot-notifier/src/main/java/koderlabs/com/screenshotnotifier/ScreenShotController.kt
.idea/screenshot-notifier/src/main/java/koderlabs/com/screenshotnotifier/ScreenShotContentObserver.kt
.idea/screenshot-notifier/src/main/gen/koderlabs/com/screenshotnotifier/R.java
.idea/screenshot-notifier/src/main/gen/koderlabs/com/screenshotnotifier/Manifest.java
.idea/screenshot-notifier/src/main/gen/koderlabs/com/screenshotnotifier/BuildConfig.java
.idea/screenshot-notifier/src/main/AndroidManifest.xml
.idea/screenshot-notifier/src/androidTest/java/koderlabs/com/screenshotnotifier/ExampleInstrumentedTest.java
.idea/screenshot-notifier/proguard-rules.pro
.idea/screenshot-notifier/local.properties
.idea/screenshot-notifier/gradlew.bat
